/**
*PRIMERA OPCION
*/
// $primary: #1976d2;
// $secondary: #26a69a;
// $accent: #9c27b0;

// $dark: #1d1d1d;
// $dark-page: #121212;

// $positive: #21ba45;
// $negative: #c10015;
// $info: #31ccec;
// $warning: #f2c037;

/**
*SEGUNDA OPCION
*/

// src/css/quasar.variables.sass

$primary: #0080ff;
$secondary: #00ffe5;
$accent: #d900ff;

$dark: #000000;
$dark-page: #000000;

$positive: #05ff3f;
$negative: #ff001e;
$info: #0ad6ff;
$warning: #ffbb00;
